build/admes
build_this.sh
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
.vscode/ipch/ac77b1c99322486e/main.ipch
.vscode/ipch/ac77b1c99322486e/mmap_address.bin
build/.qmake.stash
build/Makefile
build/chat.o
build/connection.o
build/control.o
build/main.o
build/moc_chat.cpp
build/moc_chat.o
build/moc_connection.cpp
build/moc_connection.o
build/moc_control.cpp
build/moc_control.o
build/moc_predefs.h
build/tor_config/torrc
build/tor_config/service/hostname
build/tor_config/service/hs_ed25519_public_key
build/tor_config/service/hs_ed25519_secret_key
